<img src="images/map.jpg" class="img-responsive" width="600" height="700">

{{#each this}}

    <div id="area--{{id}}"  style="background-color: #{{colorTheme}}">

        <h3 class="">{{name}}-Land</h3>

    </div>

{{/each}}