{{#each this}}


<div class="togAttrDesc">
<h4><a href="#">Attraction: {{name}}  </a></h4>

    <div class="descSib hidden">

        <p>Description: {{description}}</p>

        <p>{{times}}</p>

    </div>

</div>

{{/each}} 

<div id="secondTarget">
</div>
